.square{
    background-color: rgb(255, 242, 215);
    color: black;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 24px;
    font-weight: bold;
    margin-top: -1px;
    margin-right: -1px;
    line-height: 50px;
    float: left;
    padding: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 0%;
}

/* 
 .square.highlight {
    background-color: gold;         /贏家的格子用金色 /
    color: red;                     /贏家符號用紅色/ 
}  */


.board-row::after {
    clear: both;
    content: '';
    display: table;
}

.game
{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    border: 3px solid blue;
    border-radius: 30px;
    padding: 20px;
}

.game-board{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}